.progress {
  display: flex;
  align-items: center;
  height: 30px;
  width: 100vw;

  position: absolute;
  top: -35px;
  left: -190px;

  .first-bar {
    width: 50rem;
    height: 2px;
    background-color: var(--checkout-address-selected-color);
  }

  .shipping,
  .review {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .review {
    margin: 0px 5px;
  }

  .first,
  .second {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    width: 10px;
    margin: 0 10px;
    padding: 10px;
    background-color: var(--checkout-address-selected-color);
    border-radius: 50%;
    color: white;
  }

  .pay {
    position: absolute;
    width: 160px;

    top: 15px;
  }

  .second-bar {
    width: 35rem;
    height: 2px;
    background-color: var(--checkout-address-selected-color);
    transition: all 6s ease;
  }
  .empty-second-bar {
    width: 35rem;
    height: 2px;
    background-color: rgb(155, 154, 154);
  }

  .last-bar {
    width: 50rem;
    height: 2px;
    background-color: var(--checkout-address-selected-color);
    transition: all 6s ease;
  }

  .empty-last-bar {
    width: 55rem;
    height: 2px;
    background-color: rgb(155, 154, 154);
  }

  .empty-second-span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    width: 10px;
    margin-right: 5px;
    margin-left: 15px;
    padding: 10px;
    background-color: rgb(155, 154, 154);
    border-radius: 50%;
    color: white;
  }
}
